body,
html,
* {
    font-size: 10px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
body{
    animation: fadeIn 1.5s;
    background-color: #ffe4c4;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
@keyframes fadeIn{
    0% {
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.title{
    font-size: 50px;
    align-items: center;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    transition: 0.5s;
}
.title:hover{
    background-color: #EB9486;
    font-size: 70px;
}
.undertitle{
    font-size: 25px;
    align-items: center;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    transition: 0.5s;
}
.undertitle:hover{
    background-color: #EB9486;
    font-size: 35px;
}

.hidden{
    opacity: 0;
    font-size: 18px;
    transition: 0.5s;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 1px;
}

.hidden:hover{
    opacity: 1;
    background-color: #ffe4c4;
}
.container{
    display:flex;
    flex-wrap: wrap;
    width: 100vw;
    margin:0rem auto;
    justify-content: space-around;

}
.card {
    width: 19%;
    min-height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 30px;
    margin: 5rem;
    background-color: rgba(240, 166, 178, 0.245);
    position: relative;
    transition: 0.5s;
    box-shadow: 10px 10px 5px 8px #EB9486;
}
.card:hover {
    transform: translateY(-15px);
}
.card-title{
    font-size: 30px;
    margin: 1rem 0;
    justify-content: space-around;
}
.card-title:hover{
    color: #EB9486;
}
.card-img {
    width: 100%;
    height: 38rem;
    transition: 0.8s;
}

.card-img:hover{
    scale: 1.1;
}
.card-desc{
    font-size: 18px;
    text-align: center;
    transition: 0.8s;
    
}

.card-desc:hover{
    color: #EB9486;
    
}