body,
html,
* {
    font-size: 10px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
.title{
    font-size: 50px;
    align-items: center;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: bisque;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.undertitle{
    font-size: 25px;
    align-items: center;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: bisque;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.container{
    display:flex;
    flex-wrap: wrap;
    width: 100vw;
    background-color: bisque;
    margin:0rem auto;
    justify-content: space-around;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.card {
    width: 27vw;
    min-height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 30px;
    margin: 4rem;
    background-color: rgba(240, 166, 178, 0.245);
    position: relative;
    transition: 0.5s;
    box-shadow: 10px 10px 5px 8px lightpink;
}
.card:hover {
    transform: translateY(-15px);
}
.card-title{
    font-size: 30px;
    margin: 1rem 0;
    justify-content: space-around;
}
.card-img {
    width: 100%;
    height: 38rem;
   
}
.card-desc{
    font-size: 18px;
    text-align: center;
}